/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
/* primary color    #CBA135
Secondary color     CBA135
background color    e6e6ff
text color          1a1a1a
hover color
        color: #000066
        color: #f0f0ff;
        color: #f16622;
        color: #5760e0;
        color: #6c4572;
        color: #000066;
        color: #c4d6b0;
        color: #477998;
        color: #f64740;
        color: #a3333d;
       
       font-family: "Abril Fatface", cursive, "Lato", sans-serif;       
        */

/* GENERAL STYLE */
html {
  font-size: 62.5%;

  /* scroll-behavior: smooth; */
}
* {
  font-family: "Lato", sans-serif;
  color: #333;
  font-size: 1.6rem;

  line-height: 3rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
  background-color: #ffffff;
  background-color: #f1f1f2;
}

.btn-mobile-nav .icon-mobile-nav:nth-child(2) {
  color: #fff;
}

li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 3rem 0 0 0;

  color: #312727;
}
.sub-heading {
  font-size: 2rem;
  font-weight: 400;

  color: #927474;
  text-align: center;
  margin: 0 0 2rem 0;
}
h3 {
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
  /* border-bottom: solid 0.1rem; */
  letter-spacing: 0.3rem;
}

h4 {
  font-size: 1.6rem;
  font-weight: 700;
}
.section-width {
  max-width: 120rem;
}
section {
  margin: auto;
  margin-top: 4rem;
}
.section {
  padding: 2rem;
}

.price {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "mali" cursive;
  color: #f4c2c2;
  color: #927474;
}
.font-sm {
  font-size: 1.2rem;
}
:focus {
  border-radius: 0.5rem;
  border: 0.1rem solid #fff;
  /* padding: 0.25rem 0.5rem 0.25rem 0.5rem; */
  outline: none;
  box-shadow: #fef9f9 0rem 0rem 0rem 0.3rem;
}

.btn,
.btn:link,
.btn:visited {
  font-style: normal;
  display: inline-block;
  cursor: pointer;
  /* background-color: #927474; */
  /* color: #ffffff; */
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s;
  border: none;
}
.btn-primary {
  color: #493a3a;
  background-color: #f4c2c2;
}

.btn-primary:hover,
.btn-primary:active {
  color: #493a3a;
  background-color: #c39b9b;
  transition: all 0.3s;
}
.btn-secondary:link,
.btn-secondary:visited {
  color: #927474;
  background-color: #fdf3f3;
  box-shadow: inset 0rem 0rem 0rem 0.05rem #f4c2c2;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: #927474;
  /* background-color: #c3c4ff; */
  box-shadow: inset 0rem 0rem 0rem 0.3rem #927474;
}

.main-nav-link {
  /* background-color: #7a6161; */
  max-width: 14rem;
  margin: 0;
}

.blind {
  display: none;
}
#blank {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
}

/* STYLE FOR THE ITEM readymade //////////////////////////////// */

.product-image-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25rem;

  overflow: hidden;
  background-color: #cccccc;
  border-radius: 0.5rem;
}

.shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  margin: auto;
  background-color: #ffffff;
  background-color: #493a3a;
  /* background-color: #ab8888; */
  border-radius: 0.5rem;
  padding: 1rem;
}

.btn-addtocart {
  user-select: none;
  margin: 2rem 0 0 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
}

.item:hover .btn-addtocart {
  opacity: 1;
  transition: all 0.3s;
}

.item-clickable {
  display: contents;
}

.item {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #fff;
  /* background-color: #897070; */
  /* max-width: 22rem; */
  width: 100%;
  /* height: 40rem; */
  padding: 1rem;
  border-radius: 1rem;

  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.item:hover {
  /* background-color: #ffff; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  /* background-color: #fff; */
}

.item-image {
  margin-top: 2rem;
  /* width: 100%; */
  height: 100%;
  transform: scale(1);
  transition: all 0.3s ease-out;
}
.item-image:hover {
  transform: scale(1.6);
  transition: all 0.5s ease-out;
  transition-delay: 0.5s;
}

.item-image-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25rem;

  overflow: hidden;
  background-color: #f0f0f0;
  background-color: #fdf3f3;

  border-radius: 0.5rem;
}
.item-image:hover .item-image-box {
  background-color: #7a6161;
  transition: all 0.3s;
}

.item-info {
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
.details {
  padding: 0.5rem;
}
.item-description {
  font-size: 1.4rem;
  line-height: 2rem;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  text-align: justify;
}
.item-name-price-container {
  display: flex;
  justify-content: space-between;
}
.price-quantity {
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.additem,
.reduceitem,
.removeitem {
  user-select: none;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
.reduceitem {
  width: 2rem;
  height: 2rem;
  color: #e3170a;
  padding: 0.1rem;
  border-radius: 0.2rem;
  background-color: #fdf3f3;
}
.additem {
  width: 2rem;
  height: 2rem;
  color: #23ce6b;
  padding: 0.1rem;
  border-radius: 0.2rem;
  background-color: #fdf3f3;
}
.removeitem {
  color: #ab8888;
}

/**
* ! style rules for label and some buttons
**/

.text-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
  display: inline-block;
  background-color: #212529;
  color: white;
  border: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 1rem 0.5rem 0 0.5rem;
}

.checkout {
  background-color: #23ce6b;
}
.removeAll {
  background-color: #e3170a;
}

/**
* ! style rules for shopping-cart
**/
.shopping-box {
  max-width: 60rem;
  margin: auto;
  /* background-color: #23ce6b; */
}
.shopping-cart {
  margin: 0 auto 5rem auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  /* gap: 1.5rem; */
  background-color: #fff;
  border-radius: 0.5rem;
}

/**
* style rules for cart-item
**/

.cart-item {
  border-bottom: 0.005rem solid #ccc;
  /* border-radius: 0.5rem; */
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
  width: 100%;
  height: 15rem;
  background-color: #fff;
}

.cart-item:last-child {
  border: none;
  border-radius: 0 0 1rem 1rem;
}
.cart-item:first-child {
  border-radius: 1rem 1rem 0 0;
}
.cart-is-empty,
.total-bill {
  font-size: 4rem;
  font-weight: 700;
}
.cart-product-image-box {
  background-color: #fdf3f3;
  background-color: #ededed;
  background-color: #cccccc;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 100%;

  overflow: hidden;

  border-radius: 0.5rem;
  padding: 0.5rem 0 0 0;
}

.cart-item-image {
  /* margin-top: .2rem; */
  /* width: 100%; */
  height: 100%;
  transform: scale(1);
  transition: all 0.3s ease-out;
}
.cart-item-image:hover {
  transform: scale(1.6);
  transition: all 0.5s ease-out;
  transition-delay: 0.5s;
}

.cart-details {
  /* padding: 0.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
}
.title-price-x {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.title-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}
.cart-buttons-tprice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
}
.price {
  font-weight: 700;
  font-size: 1.6rem;
}
.cart-price {
  display: flex;
  justify-content: end;

  border-radius: 0.4rem;
  padding: 0.3rem 0.6rem;
  /* background-color: #f4c2c2; */
  color: #f4c2c2;
}
.removeitem-box {
  /* color: #ab8888; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
  padding: 0.1rem 1rem 0.1rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.removeitem-box p {
  color: #ab8888;
  font-size: 1.1rem;
}
.removeitem-box:hover {
  background-color: #f7d4d4;
}
.removeitem-box:hover p {
  color: #e3170a;
}
.removeitem-box:hover .removeitem {
  color: #e3170a;
}
.acc-det-bold p {
  line-height: 0rem;
  font-size: 2rem;
  color: #7a6161da;
  font-weight: 500;
  margin-bottom: 1rem;
}
.acc-det-light p {
  font-size: 2rem;
}
.bank-details {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}
.account-number-wg {
  cursor: pointer;
}

/* POP UP STYLE///////////////////////////////////////////////////////// */

.bespoke-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 70vw;
  height: 70vh;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  z-index: 9999;
  /*glassmorphism */

  background: rgba(24, 19, 19, 0.86);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.1px);
  -webkit-backdrop-filter: blur(10.1px);
  border: 1px solid rgba(24, 19, 19, 0.3);
}
.bepo {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem 0 4rem;
}

.bespoke-popup-container {
  padding: 0 10rem 0 10rem;
  max-width: 100%;
  height: 100%;
  margin: auto;
}
.bespoke-popup h2 {
  font-size: 3rem;
  line-height: 4rem;
  color: #7a6161;
  text-align: left;
  margin: 6rem auto 4rem auto;
}
.bespoke-popup p {
  color: #fdf3f3;
  /* margin-top: 5rem; */
  margin-bottom: 4rem;
  /* width: 40rem; */
  /* text-align: justify; */
  margin: auto;
  font-size: 2rem;
  /* line-height: 3rem;
  letter-spacing: .2rem;*/
  text-align: left;
}

.btn-space {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  margin: auto;
  margin-top: 2rem;
  width: 100%;
}
.book-measurement,
.submit-measurement {
  width: 30%;
  line-height: 2rem;
}
.goback {
  text-align: center;
  color: #fdf3f3;
  margin-top: 4rem;
}

/* HEADER STYLES /////////////////////////////////////////////////////// */
/* .main-nav a {
  color: #ECA009;
} */
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/* MOBILE */
.header-box {
  max-width: 110rem;
}
.header-logo-box {
  width: 100%;
  margin: auto;
}
.logo {
  width: 90%;
}
.heading-logo {
  width: 100%;
}
.header {
  padding-top: 3rem;
  /* padding-bottom: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.header-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.main-nav {
  margin: 1rem auto 0 auto;
  padding: 0;
  max-width: 120rem;
  border-top: 0.1rem solid #f4c2c2;
  border-bottom: 0.1rem solid #f4c2c2;
}
.main-nav-list {
  position: relative;
  list-style: none;

  font-weight: 400;
  font-size: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.main-nav-list li {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  padding: 1rem 1rem;
  cursor: pointer;
  z-index: 5;
  min-width: 16rem;
}

li {
  margin: 0;
}

.submenu {
  overflow: hidden;
  /* display: none; */
  list-style: none;
  position: absolute;
  padding: 0;

  width: 100%;
  left: 0;
  top: 50px;
  border-radius: 0 0 1rem 1rem;
}
.submenu div {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  -ms-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  position: relative;
}
.submenu li {
  display: block;
  padding: 0;
  width: 100%;
  background: #f4c2c2 !important;
}
.submenu li:last-child {
  border-radius: 0 0 1rem 1rem;
}
.submenu li a {
  font-size: 1.4rem;
}
.marker {
  height: 6px;
  background: #f4c2c2 !important;
  position: absolute;
  bottom: 0;
  width: 16rem;
  z-index: 2;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}

.main-nav-list li:nth-child(1):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.main-nav-list li:nth-child(1):hover ~ .marker {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

.main-nav-list li:nth-child(2):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.main-nav-list li:nth-child(2):hover ~ .marker {
  -webkit-transform: translate(16rem, 0);
  -moz-transform: translate(16rem, 0);
  -ms-transform: translate(16rem, 0);
  transform: translate(16rem, 0);
}

.main-nav-list li:nth-child(3):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.main-nav-list li:nth-child(3):hover ~ .marker {
  -webkit-transform: translate(32rem, 0);
  -moz-transform: translate(32rem, 0);
  -ms-transform: translate(32rem, 0);
  transform: translate(32rem, 0);
}

.main-nav-list li:nth-child(4):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.main-nav-list li:nth-child(4):hover ~ .marker {
  -webkit-transform: translate(48rem, 0);
  -moz-transform: translate(48rem, 0);
  -ms-transform: translate(48rem, 0);
  transform: translate(48rem, 0);
}
.main-nav-list li:nth-child(5):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.main-nav-list li:nth-child(5):hover ~ .marker {
  -webkit-transform: translate(64rem, 0);
  -moz-transform: translate(64rem, 0);
  -ms-transform: translate(64rem, 0);
  transform: translate(64rem, 0);
}
.main-nav-list li:nth-child(6):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.main-nav-list li:nth-child(6):hover ~ .marker {
  -webkit-transform: translate(80rem, 0);
  -moz-transform: translate(80rem, 0);
  -ms-transform: translate(80rem, 0);
  transform: translate(80rem, 0);
}

/* CART HEADER//////////////////////////////////////// */
.cart-section {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}
/* search bar///////// */
.search-bar-type {
  width: 20rem;
  height: 4rem;
}
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 50%/100% 100% 100% 100% / 0 0 100% 100%;
  margin-right: 4px;
}

.search-bar button[type="submit"] {
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-bar button .search-icon {
  height: 3rem;
  width: 3rem;
  color: #fef9f9;
}

/* search bar///////// */

.cart-search {
  width: 100%;
  max-width: 100rem;
  /* height: 6rem; */
  padding: 1.5rem 3rem 1.5rem 3rem;
  display: flex;
  /* gap: 10rem; */
  justify-content: space-between;
  align-items: center;
}
.cart {
  display: flex;
  position: relative;
}
.cart-icon {
  width: 3rem;
  height: 3rem;
  /* background-color: #f8dada; */
  color: #181313;
}
.cart-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -35%);
  background-color: #23ce6b;
  color: #fff;
  padding: 0.3rem;
  line-height: 1.6rem;
  border-radius: 50%;
}
/* FOOTER STYLING////////////////////////////////////////// */
.footer img {
  width: 100%;
}
.footer {
  background-color: #fff;

  padding: 2rem;
  margin: 0;
  border-top: solid 0.5rem #7a616169;
}

.grid--footer {
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  gap: 4rem;
  margin: auto;
  /* padding: 0 2rem; */
}
.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;

  display: flex;
  flex-direction: column;
  place-items: center;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2.4rem;
}
.social-links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
footer .section {
  padding: 5rem 2rem;
}
